@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
    background-color: #1B1f23;
}

.sticky-top{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}

h1{
    padding-bottom: 24px;
}

h3{
    color: #42c920;
}

a{
    color: #fff;
    max-width: 100%;
    text-decoration: none;
    transition: o.3s;
}

a:hover{
    color: #42c920;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Nova Square', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.navbar{
    display: flex;
    list-style: none;
    font-family: 'Nova Square', sans-serif;
}

.navbar li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.menuicon{
    cursor: pointer;
    display: none;
}

.menuicon div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px){
    .navbar{
        background-color: #1B1f23;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-left: 1px solid #fff;
    }
    .navbar li{
        margin-left: 0;
    }
    .menuicon{
        display: block;
    }
}

.home{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    padding: 100px;
}

.home-text h1{
    padding-bottom: 0;
}

.home-text h2{
    font-size: 32px;
    color: #42c920;
}

.home-text p{
    font-size: 20px;
}

.home-img{
    padding-left: 50px;
}

.sobre{
    padding: 204px;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

.skills{
    padding: 204px;
    margin-left: 136px;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

.skills h1{
    margin-left: 204px;
    font-size: 50px;
}

.hardsoft{
    display: flex;
    gap: 50px;
}

.skill-list{
    list-style: none;
}

.exp{
    padding: 204px;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

#trainee-exp{
    padding-top: 32px;
}

.proj{
    padding: 204px;
    display: flex;
    gap: 50px;
    font-family: 'Open Sans', sans-serif;
}
.proj h1{
    font-size: 50px;
}

.proj h3{
    font-size: 30px;
    color: #42c920;
}

#img-proj{
    border: 5px solid #fff;
    border-radius: 50px;
}

.contacts{
    padding: 50px;
    margin-left: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.img-icon{
    padding-right: 8px;
    width: 30px;
}